.main {
	margin: 2em 0 3em !important;
}

.innerMain {
	padding: 0;
	margin: 0 auto;
	width: 80%;
	max-width: 800px;
}

body {
	font-size:18px;
	font-family: 'Ubuntu Mono';
	font-weight:400;
	letter-spacing:0.5px;
	background-color:#f8f8f8;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

nav {
	padding: 0.5em 0;
	background-color:#2196F3;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav-container {
	width:80%;
	max-width:800px;
	display: flex;
	align-items:center;
	margin:0 auto;
} 
.logo-container {
	flex-grow:1;
	text-align: left;
}

.logo {
	width:30px;
	height:30px;
}

.github-container {
	flex-grow:1;
	text-align: right;
}
.github {
	width:30px;
	height:30px;
	opacity:0.8;
	-webkit-transition:0.5s ease all;
	-moz-transition:0.5s ease all; 
	transition:0.5s ease all; 
}
.github:hover {
	opacity:1;
}

.copyright {
	text-align: center;
	color:#757575;
}
.copyright p {
	margin:0;
}
.copyright-link {
	text-decoration: inherit;
	color: #000;
	-webkit-transition:0.5s ease all;
	-moz-transition:0.5s ease all; 
	transition:0.5s ease all; 
}
.copyright-link:hover {
	color: #757575;
}

h1, h3 {
	text-align: center;
}

p {
	line-height:2;
}